/* All the page*/
* {
  font-family: "Raleway", sans-serif;
  /* border: 2px solid black; */
}
.app__header{
  background-color: rgb(125, 158, 212);

  padding: 1em;
  font-family: "Raleway", sans-serif;
}
#city {
  background-color: rgb(125, 158, 212);
  border: none;
  color: white;
  font-size: 1.2em;
}
#find {
  background-color: rgb(70, 97, 166);
  border: none;
  padding: 10px;
  border-radius: 2px;
  font-size: 1.3em;
  color: black;
}
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  Search bar */

/* Current weather */
